[submodule "zsh/oh-my-zsh"]
	path = zsh/oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule "emacs/emacs.d.symlink"]
	path = emacs/emacs.d.symlink
	url = git@github.com:steinn/emacs-config.git
